# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/.idea/.name
/build.gradle
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/8.12.1/checksums/checksums.lock
/.idea/compiler.xml
/.gradle/8.12.1/executionHistory/executionHistory.bin
/.gradle/8.12.1/executionHistory/executionHistory.lock
/.gradle/file-system.probe
/.gradle/8.12.1/fileHashes/fileHashes.bin
/.gradle/8.12.1/fileHashes/fileHashes.lock
/.gradle/8.12.1/gc.properties
/.gradle/vcs-1/gc.properties
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.properties
/.idea/libraries/Gradle__com_github_luben_zstd_jni_1_5_6_4.xml
/.idea/libraries/Gradle__org_apache_kafka_kafka_clients_3_9_0.xml
/.idea/libraries/Gradle__org_lz4_lz4_java_1_8_0.xml
/.idea/libraries/Gradle__org_slf4j_slf4j_api_2_0_17.xml
/.idea/libraries/Gradle__org_slf4j_slf4j_simple_2_0_17.xml
/.idea/libraries/Gradle__org_xerial_snappy_snappy_java_1_1_10_5.xml
/gradlew
/gradlew.bat
/HELP.md
/.idea/jarRepositories.xml
/.idea/modules/kafka-poc.iml
/.idea/modules/kafka-basics/kafka-poc.kafka-basics.iml
/.idea/modules/kafka-basics/kafka-poc.kafka-basics.main.iml
/.idea/modules/kafka-basics/kafka-poc.kafka-basics.test.iml
/.idea/modules/kafka-poc.main.iml
/.idea/modules/kafka-poc.test.iml
/src/main/java/com/dw/learning/kafka_poc/KafkaPocApplication.java
/.gradle/8.12.1/fileChanges/last-build.bin
/.gradle/8.12.1/checksums/md5-checksums.bin
/.idea/misc.xml
/.idea/modules.xml
/.gradle/buildOutputCleanup/outputFiles.bin
/build/reports/problems/problems-report.html
/.gradle/8.12.1/fileHashes/resourceHashesCache.bin
/settings.gradle
/.gradle/8.12.1/checksums/sha1-checksums.bin
/.idea/uiDesigner.xml
/.idea/vcs.xml
